# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# expo
.expo/
dist/
expo-env.d.ts

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
# .vercel
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# !.vercel/project.json 
.vercel/outputs

# typescript
*.tsbuildinfo

# turbo
.turbo

# act - local github actions
act.secrets
act.variables
